<!doctype html>
<html>
<head>
    <title>Bill Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href= "/css/index.css">
    <link rel="stylesheet" type="text/css" href= "/css/main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href= "/css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Indie+Flower|Shadows+Into+Light" rel="stylesheet">

</head>
<body>
  <div class = "row">
    <div class="background-image col-12">

      <div class = "row">
        <div class ="logo-div col-9">
          <p class ="logo">
              Paid It <i class="fa fa-pagelines"></i>
          </p>
        </div>
        <div class="signup-form col-3">

              <h2><span class="fa fa-sign-in"></span> Signup</h2>

              <form action="/signup" method="post" id="signupForm">

                <label>First Name</label>
                <input type="text"  name="first" class="first-name-input">

                <label>Last Name</label>
                <input type="text" name="last" class="last-name-input">

                <label>Email</label>
                <input type="text" name="email" class="email-input">

                <label>Password</label>
                <input type="password" name="password">

                <button type="submit">Signup</button>
          </form>

          <p class = "login-now"> Already have an Account?  <span class=login-link> Login Now</span></p>
        </div>


        <div class = 'login-form'>
          <h1><i class="fa fa-lock"></i>  USER LOGIN</h1>
          <form action="/login", method="post">
            <div class= "username">
              <label>Email</label>
              <input type="text" name="email" class="email-input">
            </div>

            <div class ="password">
            <label>Password</label>
            <input type="password" required name="password">
          </div>

            <button class= "login-btn"type="submit">Login</button>
          </form>
            <p class ="signup-link">Sign Up Now</p>

        </div>
      </div>
      </p>
    </div>

</div>


<div class = "row">
  <div class ="how">
    <h4>How It Works</h4>
    <div class="row">
      <div class="steps col-3">
        <p class="step-number"> <i class="fa fa-plus" aria-hidden="true"></i></p>
        <p class="summary">
          Add a Bill
        </p>
      </div>

    <div class="steps col-3">
      <p class="step-number">  <i class="fa fa-eye" aria-hidden="true"></i></p>
      <p class="summary">
        See Upcoming Bills
      </p>
    </div>

    <div class="steps col-3">
      <p class="step-number"><i class="fa fa-check-square-o" aria-hidden="true"></i></p>
      <p class="summary">
        Mark Bills Paid
      </p>
    </div>

  </div>
</div>
</div>



<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="/js/app.js"></script>
</body>
</html>
