<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href= "/css/main.css">
    <link rel="stylesheet" type="text/css" href= "/css/index.css">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href= "/css/responsive.css">

</head>
<body>

  <h1>One place to manage all of your bills</h1>

  <div class ="main-nav">
  <p class="authentication"><h2><i class="fa fa-bullseye"></i> Authentication</h2></p>
      <p>
        <button class= "login-btn"><a href="/login">Login Now</a></button>
        <button class= "login-btn"><a href="/signup">Signup</a></button>

      </p>
  </div>
</div>


</body>
</html>
