<!doctype html>
<html>
<head>
    <title>Bill Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href= "/css/main.css">
    <link rel="stylesheet" type="text/css" href= "/css/index.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href= "/css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed|Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Indie+Flower|Shadows+Into+Light" rel="stylesheet">

</head>
<body>
<div class="header">
  <p class ="logo">
      Paid It <i class="fa fa-check-square-o"></i>
  </p>
  <h1> "One place to manage all of your bills"</h1>
</div>
  <div class ="main-nav">
    <p class="authentication"><h2>Sign Up Now and Start Organizing Your Bills!</h2></p>
      <p>
        <a href="/login"><button class= "login-btn">Login Now</button></a>
        <a href="/signup"><button class= "login-btn">Signup</button></a>
      </p>
  </div>
</div>


</body>
</html>
