<html>
<head>
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href= "/css/responsive.css">
    <link rel="stylesheet" type="text/css" href= "/css/index.css">
    <link rel="stylesheet" type="text/css" href= "/css/main.css">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href= "/css/responsive.css">

</head>
<body>
  <p class ="logo">
      Paid It <i class="fa fa-check-square-o"></i>
  </p>
  <div class = 'box'>
<h1><i class="fa fa-lock"></i>  USER LOGIN</h1>


<% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
<% } %>

    <form action="/login", method="post">
      <div class= "username">
        <label>Email</label>
        <input type="text" name="email">
      </div>

      <div class ="password">
      <label>Password</label>
      <input type="password" name="password">
    </div>

      <button class= "login-btn"type="submit">Login</button>
    </form>


<a href="/signup"><p class ="signup-link">Sign Up Now</p></a>

</div>


</body>
</html>
