
  .background-image {
    height: 500px;
    background-image:
    linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
    ),
    url(https://images.unsplash.com/photo-1506485338023-6ce5f36692df?dpr=1&auto=compress,format&fit=crop&w=1050&h=&q=80&cs=tinysrgb&crop=);
    /*url(https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?dpr=1&auto=compress,format&fit=crop&w=1053&h=&q=80&cs=tinysrgb&crop=);*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .background-image .logo{
    margin: 150px auto;
    font-size: 80px;
  }

  .background-image h2{
    margin: 150px auto;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
  }

  .how {
    height: 300px;
  }

  .how h4 {
    color: #E37222;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    text-transform: uppercase;
  }

  .steps {
    border: 2px solid #ddd;
    margin: 0 4.16% 4.16% 4.16%;
    text-align: center;
  }

  .steps .step-number {
    font-weight: bold;
    font-size: 40px;
    font-family: 'Architects Daughter', cursive;
    margin: 5px;
  }

  .steps .summary {
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    color: #07889B;
  }



  /*******Login Form***************/

  .login-form {
    display: none;
  }

  .login-form h1{
    margin: 50px;
  }

  /********Signup form*********/

  .signup-form h1 {
   color: #E37222;
   font-weight: bold;
   font-size: 30px;
 }

  .signup-form, .login-form {
    background-color: rgba(255,255,255,0.85);
    text-align: center;
    margin: 0;
    height: 500px;
  }

  .signup-form input, .login-form input {
    width: 250px;
    font-size: 16px;
    display: block;
    margin: 10px auto;
    padding: 8px;
    border: .5px solid #ddd;
    border-radius: 5px;
  }

  .signup-form h2, .login-form h1 {
    padding-top: 0;

    color: #07889B;
    font-size: 30px;
    font-weight: normal;
  }
  .signup-form h2 {
      margin: 15px;
  }
  .signup-form label, .login-form label {
    font-weight: bold;
  }

  .signup-form button, .login-form button {
    margin-bottom: 10px;
  }

  .signup-link, .login-link {
    text-decoration: underline;
    cursor: pointer;
    font-weight: normal;
    color: #07889B;
    font-size: 18px;
  }
