
  *{
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body {
    margin: 0;
    width: 100%;
  }


  .logo {
      margin: 50px 0 50px 0;
      font-family: 'Architects Daughter', cursive;
      font-size: 60px;
      text-align: center;
      color:  #fff;
      text-transform: uppercase;
  }

  h4 {
     color: #07889B;
     text-align: center;
     font-size: 24px;
  }

  button:hover{
    cursor: pointer;
  }

  header a button {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  header button{
    background-color: #66B9BF;
    border: none;
    padding: 15px;
  }

  a:link,
  a:visited,
  a:active,
  .submit-form:link,
  .submit-form:visited,
  .submit-form:hover {
    cursor: pointer;
    color: #07889B;
  }

  .submit-form {
    text-align: center;
  }
  .add-bill-form h2 {
    color: #07889B;
    margin-bottom: 60px;
  }

  header  a:link,
  header  a:visited,
  header  a:hover {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 2px;
  }

  .view-all-bills{
  float: right;
  }

  header {
  height: 60px;
  background-color: #66B9BF;
  width: 100%;
  }

  .welcome {
      color: #E37222;
      font-size: 40px;
      text-align: center;
  }

  .account-info {
    margin-bottom: 20px;
  }

  .account-info h4 {
    margin-top: 0;
  }

  .minimum-true {
    color: green;
    font-weight: bold;
  }

  .red{
    color: red;
  }

  .signup-form h2 {
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #07889B;
  }

  .remaining {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #07889B ;
    margin: 20px;
  }

  .diff {
    color: red;
  }

  .minimum-false {
    color: red;
  }

  .form-info label {
    font-weight: bold;
    color:#E37222;
  }

  .form-info, .info{
    margin: 5px;
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    font-size: 18px;
    display: inline-block;
  }

  .form-info .checkbox {
    width: 100px;
    margin-top: 10px;
  }

  input[type=checkbox] {

   -ms-transform: scale(2); /* IE */
   -moz-transform: scale(2); /* FF */
   -webkit-transform: scale(2); /* Safari and Chrome */
   -o-transform: scale(2); /* Opera */
    padding: 10px;
  }

  .new input {
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  .amount {
    width: 70px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ddd;
  }

  .info-sub {
    width: 100px;
    display: inline;
  }

  ul li {
    list-style: none;
  }

  .months {
    border: 1px solid grey;
    margin-top: 80px;
    text-align: center;
  }





/*********ALL BILLS PAGE*****/
.all-bills {
  color: #E37222;
  margin: 10px;
}

.all-bills-header{
  margin-bottom: 30px;
}





/*******LOGIN PAGE********/

  .box {
    width: 60%;
    background-color: white;
    height: 500px;
    margin: 100px auto;
    text-align: center;
    padding-top: 60px;
  }

  .signup-link {
    font-weight: bold;
    font-size: 18px;
  }

  .box h1, signup-form h1 {
    color: #E37222;
    font-weight: bold;
    font-size: 35px;
  }

  .box label {
    font-weight: bold;
  }

  .box input {
    width: 300px;
    display: block;
    margin: 5px auto 20px auto;
    border-radius: 5px;
    padding: 8px;
    font-size: 20px;
  }

  .login-btn, .add-bill-btn, .signup-btn, .signup-form button {
    background-color: #E37222;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    font-size: 18px;
    margin-top: 15px;
  }



    /*****************Table Design *****************/

  table {
    width: 91.66%;
    border-collapse: collapse;
    margin: 15px 4.17%;
    border: 1px solid #ddd;
  }

  td {
    padding: 8px;
    line-height: 1.428571429;
    border-top: 1px solid #ddd;
    display: table-cell;
    font-size: 18px;
  }

  td .amount {
    width: 80px;
    font-size: 18px;
  }

  th {
    color: black;
  }

  tr {
    display: table-row;
    text-align: center;
  }

  .fa-trash-o{
    color: #88BBD6;
  }

  .add-bill-form {
    margin: 0 4.17% 0 4.17%;
    text-align: center;
  }

  #myForm {
    width: 100%;
    margin: 0;
  }




/********Signup form*********/

  .signup-form {
    width: 60%;
    background-color: white;
    height: 500px;
    margin:50px auto;
    text-align: center;
  }

  .signup-box {
    margin-bottom: 0 auto;
  }
  .signup-box h1 {
    color:  #E37222;
    font-size: 35px;
  }
  .signup-form label {
    font-weight: bold;
  }
  .signup-form input{
    display: block;
    margin: 10px auto;
    padding: 8px;
    border: .5px solid #ddd;
    border-radius: 5px;
    width: 300px;
    font-size: 20px;
  }

  .signup-message {
    text-align: center;
    margin-top: 0;
  }






  /*********************GRID**************************************/

.row::after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}

[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
