  *{
    color: #88BBD6;
    box-sizing: border-box;
  }


  body {
    margin: 0;
  }

  .welcome {
      color: #FA7C92;
      font-size: 40px;
  }

  .minimum-true {
    color: green;
    font-weight: bold;
  }

  th {
    color: black;
  }
  .red{
    color: red;
  }

  h2, h3, .route {
    text-align: center;
    font-weight: bold;
    color: black;
  }
  .remaining {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  .minimum-false {
    color: red;
  }

  main {
    margin: 0 20px 80px 20px;
  }

  .info{
    margin: 5px;
    text-align: center;
    box-sizing: border-box;
    width: 150px;
    display: inline-block;
  }

  .amount {
    width: 50px;
  }

  .info-sub {
    width: 100px;
    display: inline;
  }

  ul li {
    list-style: none;
  }

  .months {
    border: 1px solid grey;
    margin-top: 80px;
    text-align: center;
  }
