@media screen and (max-width: 930px) {

/******* Index.js Responsive******/
   .signup-form, .how {
      width: 91.66%;
      margin: 4.17%;
    }

    .background-image {
      height: 400px;
      width: 100%;
    }

  .how h4 {
    margin: 10px;
  }

  .steps {
    width: 91.66%;
    height: 100px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 0 4.16% 0 4.16%;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
  }

  .steps .step-number {
    font-weight: bold;
    font-size: 35px;

  }
  /*div .row .steps  {
        font-color: #07889B;
  }*/
  .steps .summary {
    font-size: 20px;
    font-weight: normal;
  }

  .signup-form h2 {
    margin-top: 0;
    padding-top: 20px;
  }

  .signup-form, .how {
    border: 1px solid #ddd;
    font-size: 18px;
  }

 .how {
   height: 400px;
 }


/**************Everything Else**********/

    .signup-form, .box, .main-nav, {
      width: 91.66%;
      margin-top: 50px;
      height: 500px;
    }

    form h2 {
      margin-bottom: 30px;
    }

    /*.main-nav {
      width: 91.66%;
      padding: 20px;
      height: 300px;
    }`*/
    .welcome{
      font-size: 30px;
    }

    .header h1 {
      margin: 10px 20px;
      font-size: 20px;
    }

    h1, .main-nav h2, h4, .remaining {
      font-size: 25px;
    }

    .add-bill-form p label {
    display: inline-block;
    width: 91.66%;
    }

    .amount {
    width: 40px;
    border-radius: 0;
    font-size: 14px;
    }

    .add-bill-form p input {
    width: 200px;
    height: 28px;
    font-size: 16px;
    }

    .add-bill-form p {
      width: 100%;
    }

    .add-bill-form h2{
      margin-bottom: 100px;
    }

    form {
      text-align: center;
    }

    table td, table th {
      font-size: 14px;
    }

    .signup-form input, .box input {
      width: 250px;
      font-size: 16px;
    }

    /*.main-nav button {
      width: 200px;
      font-size: 20px;
      margin: 10px 40px;
      display: inline-block;
    }*/

    .form-info .checkbox {
      width: 60px;
      margin-top: 10px;
    }

    input[type=checkbox] {

     -ms-transform: scale(1); /* IE */
     -moz-transform: scale(1); /* FF */
     -webkit-transform: scale(1); /* Safari and Chrome */
     -o-transform: scale(1); /* Opera */
      padding: 10px;
    }
}


@media screen and (max-width: 630px) {
/*
  .main-nav {
    height: 320px;
    padding: 10px;
  }*/
/*
  .main-nav h2 {
    padding-top: 30px;
  }*/

  table td {
    font-size: 12px;
    padding: 5px;
  }

  table .amount {
    width: 35px;
    font-size: 12px;
  }

  table input, .fa-trash-o {
    font-size: 12px;
  }

}
